<div [ngClass] = "getClass()">
  <a #carHeading class="list-group-item-heading"
     [routerLink]="['/cars', carItem.id]">
    Name: {{carItem.name}}
  </a>
  <p class="list-group-item-text">Year: {{carItem.year}}</p>
  <div>
    <button
      class="btn btn-sm btn-primary"
      [disabled] = "carItem.isSold"
      (click)="onAction('buy')">
      Buy
    </button>
    <button
    class="btn btn-sm btn-default"
    [disabled] = "!carItem.isSold"
    (click)="onAction('return')">
    Return
    </button>
    <button
      class="btn btn-sm btn-primary"
      (click)="changeYear(carItem)">
      Change year to random
    </button>
    <button
      class="btn btn-sm btn-danger"
      (click)="deleteCar(carItem)">
      Delete car
    </button>
  </div>
</div>
